{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 35, "knowledge_revision": 100, "git_revision": "402854945c5f830871f285c42684cdd777549b29", "hash": "49c3db04495ef3002febf54d538eed85", "format-version": 4, "code-base-name": "default", "filename": "backend_api_workspace/backend_api/requirements.txt", "revision_history": [{"100": "402854945c5f830871f285c42684cdd777549b29"}]}